body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* - My Details Style (EJS) template engine */

.custom_details_container {
  height: 75vh;
  align-items: center !important;
  color: white;
  /* border: 1px solid red; */
}

@media screen and (max-width: 1024px) {
  .custom_details_container {
    width: 100% !important;
  }
}

/* .ejs_left {

    display: flex;
    align-items: center;
    flex-basis: 50%;
}

.user_ejs_icon {
    font-size: 9rem;
}

.ejs_right {
    
    flex-basis: 50%;
}

@media screen and (max-width: 1024px) {
    .custom_details_container {
        flex-wrap: wrap;
    }
    .ejs_left {
        flex-basis: 100%;
    }
    .user_ejs_icon {
        font-size: 7rem;
    }
    .ejs_right {
        flex-basis: 100%;
        margin-top: 2px !important;
    }
}


 */

.cus_all_user_tbl {
  overflow: scroll;
}

.cus_foot {
  margin-top: auto;
}
